@tailwind base;
@tailwind components;
@tailwind utilities;

.font-telugu { font-family: 'Noto Sans Telugu', sans-serif; }
.font-hindi { font-family: 'Noto Sans Devanagari', sans-serif; }

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}
.animate-fade-in { animation: fadeIn 0.3s; }
body{
  background-image: url('./paddy.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}